
<div class="hero-unit" dir="rtl">
	<h1>כל הביקורות</h1>
</div>
<div class="row-fluid">
	<ul class="thumbnails">
	<% for (var i=0; i<albums.length; i++) { %>
		<li>
			<div class="row-fluid span12">
				<div align="center">					
					<a href="/reviews/<%= albums[i].path %>"><img src="<%=albums[i].album_cover%>" height="220" width="220"></a>
					<h4 dir="ltr"> <%= albums[i].album %> </h4>
					<p dir="ltr"> <%= albums[i].artist %> (<%= albums[i].year%>)</p>
					<p dir="ltr">Reviewer: <%= albums[i].reviewer%> </p>
				</div>
			</div>
		</li>
	<% } %>
	</ul>
</div>



