<h1 align="center">כל הביקורות <% if (typeof reviewer != "undefined") { %>
		של <%= reviewer %>
	<% } %>
</h1>
<br><br>

<div class="row-fluid">
	<ul class="thumbnails" id="ul" name="ul">
	<% for (var key in albums) { %>
		<li>
			<div class="row-fluid span12">
				<div align="center">					
					<a href="/reviews/<%= albums[key].path %>">
						<div style="width:220px;height:300px;">
							<img src="/reviews/<%= albums[key].path %>/cover.jpg"<%=albums[key].album_cover%>" height="220" width="220">
							<h4 dir="ltr"> <%= albums[key].album %> (<%= albums[key].year%>)</h4>
							<p dir="ltr"> <%= albums[key].artist %> </p>
							<a href="/writers/<%= albums[key].reviewer %>" <p dir="ltr">By: <%= albums[key].reviewer%> </p></a>
						</div>
					</a>
				</div>
			</div>
		</li>
	<% } %>
	</ul>
</div>

