<h1 align="center">כל הביקורות <% if (typeof reviewer != "undefined") { %>
		של <%= reviewer %>
	<% } %>
</h1>
<br><br>

<div class="row-fluid">
	<ul class="thumbnails">
	<% for (var i=0; i<albums.length; i++) { %>
		<li>
			<div class="row-fluid span12">
				<div align="center">					
					<a href="/reviews/<%= albums[i].path %>">
						<div style="width:220px;height:300px;">
							<img src="/reviews/<%= albums[i].path %>/cover.jpg"<%=albums[i].album_cover%>" height="220" width="220">
							<h4 dir="ltr"> <%= albums[i].album %> (<%= albums[i].year%>)</h4>
							<p dir="ltr"> <%= albums[i].artist %> </p>
							<a href="/writers/<%= albums[i].reviewer %>" <p dir="ltr">By: <%= albums[i].reviewer%> </p></a>
						</div>
					</a>
				</div>
			</div>
		</li>
	<% } %>
	</ul>
</div>

